body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}
.btn-rounded {
    border-radius: 30px !important;
    padding: 8px 16px;
    text-transform: uppercase !important;
    font-size: .75em;
}
.nav-round-right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.nav-round-right:hover {
    background-color: #f2f2f2;
}
.nav-round-right.active{
    background-color: #ff3737;
    color: #ffffff;
}

.vh-100 {
    height: 100vh;
}

.full-height {
    min-height: 100vh;
}

.min-h-100 {
    min-height: 100%;
}

.bg-grey {
    background-color: #FAFAFA;
}

.br-30 {
    border-radius: 20px;
}
.br-15 {
    border-radius: 15px;
}

.food-item { 
    border-radius: 15px;
    overflow: hidden;
    border: none
}
.food-item img {
    border-radius: 15px 15px 0 0;
}

.food-cat-item {
    font-size: 1.2em;
}

.cart-counter {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-shadow {
    box-shadow: 0 0 10px #b6b6b678;
}

.cat-link {
    color: #979797;
    cursor: pointer;
    font-size: 1.3em;
}
.cat-link:hover{
    color: black;
}
.cat-link.active {
    color: black;
}

.c-bg-secondary {
    background-color: #FBF3D5;
}

.sidebar-button {
    border: none;
    background-color: transparent;
    margin: 0 15px;
}
.sidebar-button div {
    width: 20px;
    height: 2px;
    background-color: #ff3737;
    margin: 2px 0;
}

i.icn {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
i.user {
    background-image: url(/imgs/social.svg);
    background-position: -384px -48px;
}
i.user-bold {
    background-image: url(/imgs/social.svg);
    background-position: -288px -48px;
}
i.search {
    background-image: url(/imgs/action.svg);
    background-position: -336px -768px;
}
i.plus {
    background-image: url(/imgs/content.svg);
    background-position: 0px 0px;
}
i.plus-white {
    background-image: url(/imgs/content-white.svg);
    background-position: 0px 0px;
}
i.down {
    background-image: url(/imgs/navigation.svg);
    background-position: -192px 0px;
}
i.up{
    background-image: url(/imgs/navigation.svg);
    background-position: -288px 0px;
}
i.close{
    background-image: url(/imgs/navigation.svg);
    background-position: -288px -48px;
}

button i.icn {
    opacity: 0.5;
    transition: .3s;
}
button i.icn:hover {
    opacity: 1;
}

.btn-primary {
    background-color: #ff3737;
    border-color: #ff3737;
}

.btn-primary:hover {
    background-color: #c22a2a;
    border-color: #c22a2a;
}
.btn-primary i.icn {
    opacity: 1;
}

.btn-left-rounded, .btn-right-rounded {
    border-radius: 15px 0 0 15px;
    padding: 12px 20px;
}

.btn-right-rounded {
    border-radius: 0 15px 15px 0;
}
